<h1>Editing Disclaimer Quiz Default</h1>

<%= render 'form', disclaimer_quiz_default: @disclaimer_quiz_default %>

<%= link_to 'Show', @disclaimer_quiz_default %> |
<%= link_to 'Back', disclaimer_quiz_defaults_path %>
