<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @quiz_default.content %>
</p>

<%= link_to 'Edit', edit_quiz_default_path(@quiz_default) %> |
<%= link_to 'Back', quiz_defaults_path %>
