<!-- Page Wrapper -->
<div id="wrapper">
  <%- if user_signed_in? %>
    <%= render "partials/sidenav"%>
  <% else %>
  <% end %>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-dark topbar mb-4 static-top shadow" id="page-top">
        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
        <h3 class="text-light w-50">
          GESTION HUMANA
          <i class="fas fa-plane rotate-n-15"></i>
        </h3>
        <!-- Topbar Search -->
        <!--<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>-->
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <!-- Nav Item - Messages -->
          <%- if user_signed_in? %>
            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown text-white justify-content-center">
              <i class="fa fa-user-circle"></i>
              <span class="mr-2 mt-6 d-none d-lg-inline ">
                <%= current_user.name %> <br />
                <%= current_user.position %>
              </span>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <h4>
              <%= link_to 'Salir', destroy_user_session_path, method: :delete, :class => "btn btn-light" %>
            </h4>
         
          <% end %>
        </ul>
      </nav>
      <!-- End of Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
