<div class="body">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand text-warning nav-link disabled" href="#">LONGPORT AVIATION SECURITY</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
      <%- if user_signed_in? %>
        <form class="form-inline my-2 my-lg-0">
          <h4><%= link_to 'Salir', destroy_user_session_path, method: :delete, :class => "btn btn-outline-warning my-2 my-sm-0" %></h4>
        </form>
      <% else %>
        <form class="form-inline my-2 my-lg-0">
          <%= link_to 'Iniciar sesion', new_user_session_path, :class => "btn btn-outline-light my-2 my-sm-0" %>
        </form>
      <% end %>
    </div>
  </nav>
</div>
